@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/* Define global variables to use for sizing and colors */
:root {
  --mobile: 480px;
  --tabletVertical: 768px;
  --primary-color: black;
  --secondary-color: #3d3d3d;
  --tertiary-color: #717171;
  --primary-bg: #eee;
  --secondary-bg: #c1c1c1;
  --tertiary-bg: #bbb;
  --small-font-size: 14px;
  --normal-font-size: 16px;
  --small-header-font-size: 16px;
  --header-font-size: 20px;
}

/* Set initial styles */
* {
  font-size: var(--normal-font-size);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: var(--primary-color);
  
  box-sizing: border-box;
}

body {
  width: 90vw;
  margin: 5vh auto;
}

input, select, button {
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  * {
    font-size: var(--small-font-size);
  }
}
